@model IEnumerable<HolyBee.Models.Gebruiker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gebruikersnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wachtwoord)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelefoonNummer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gebruikersnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wachtwoord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoonNummer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GebruikerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GebruikerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GebruikerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
